
<span class="theme_type_announce">

<table style="width: 100%;background-color:dark-blue;padding:0;margin:0;text-align:center;"><tr><td style="text-align:center;"><%=link_to( 'Dark Themes', "/theme/show_colortype_page/dark")%></td><td style="text-align:center;background-color:yellow;"><%=link_to( 'Color Themes', "/theme/show_colortype_page/color") %></td><td style="text-align:center;background-color:#dedede;"><%=link_to( 'Light Themes', "/theme/show_colortype_page/light") %></td></tr></table>

</span>



<% if @dark_themes then %>
<%=raw will_paginate @dark_themes  %>
  <%=raw render 'dark_theme_page'%>
<%=raw will_paginate @dark_themes  %>
<% elsif @color_themes then %>
<%=raw will_paginate @color_themes  %>
    <%=raw render 'color_theme_page' %>
<%=raw will_paginate @color_themes  %>
<%  elsif @light_themes then %>
<%=raw will_paginate @light_themes  %>
    <%=raw render 'light_theme_page' %>
<%=raw will_paginate @light_themes  %>
<%  end %>
