

<div class="medium_theme_block">
   <%= @per_row =5;
       raw will_paginate @the_themes
   %>
   <span style="font-weight:bold;font-style: italic;"><%=@the_themes_title %>
   <%=  " ( "+@the_themes.size.to_s+" )" if @the_themes_title.include? "All" %></span>
   <ul>
   <li><div class="category_row pagetype">
      <% @the_themes.each_index do |ind1| %>
         
         <%=raw  @the_themes[ind1].to_html_small"Rank: "+(@the_themes[ind1].rank.to_s) %>

         <% if ( (ind1+1) % @per_row) == 0 && (ind1 < @the_themes.size-1)   %>
            <%=raw '</div></li><li><div class="category_row pagetype">' %>
         <% end  %>

      <% end    %>
      </div>
   </li>
   </ul>
   <div class="category_row pagetype">
   <%=  raw will_paginate @the_themes
   %>
   </div>
</div>





<%= render "newsfeed"
%>
