
<span class="theme_type_announce">

<%=  case
      when @dark_themes
         'Dark Themes'
      when @color_themes
        'Color Themes'
      when @light_themes
        'Light Themes'
     end
%>
</span>



<% if @dark_themes then %>
<%=raw will_paginate @dark_themes  %>
  <%=raw render 'dark_theme_page'%>
<%=raw will_paginate @dark_themes  %>

<% elsif @color_themes then %>
<%=raw render 'color_theme_page' %>
  <%=raw will_paginate @color_themes  %>
<%  elsif @light_themes then %>
<%=raw render 'light_theme_page' %>
  <%=raw will_paginate @light_themes  %>
<%  end %>
