<div class="medium_theme_block">
<%=raw  @theme1.to_html_medium %>
   
</div>
<div class="previous_comments">
    <div id="new_comment">

  <% form_for @comment do |c| %>
     <div> <%= c.label  "Add a new comment", :for=>:comments %></div>
     <div style="display:inline;"> <%= c.text_area :comment, :cols => 70, :rows=>8, :value=>@comment.comment.to_s %>
     <div> <%= c.text_field :theme_id, :hidden=>true%></div>
     <%= raw get_captcha() %> </div>
     <div> <%= c.submit "Submit" %></div>
  <% end %>
      
    </div>
<div class="comments_header">Previous comments</div>
  <table>
<% @previous_comments.each do |com| %>
     <tr><td style="width: 623px;">&ldquo; &nbsp;  <%= com.comment %>&nbsp;&rdquo;</td><td style="vertical-align:top;"><%=com.created_at.to_s %></td></tr>
     <% end %>
</table>
</div>
