<div class="medium_theme_block">
<%=raw  @theme1.to_html_medium %>


 <div class="theme_comment_box" ><div id="new_comment">
      <div class="previous_comments">
      <div class="title">Add a new comment ...</div>

     <% form_for @comment do |c| %>
        <%= c.text_area :comment, :cols => 42, :rows=>8, :value=>@comment.comment.to_s, :class=>"new_comment_text_area" %>
        <%= c.text_field :theme_id, :hidden=>true%>
        <%= raw get_captcha() %>
        <div style="margin-right:0px;padding-right:5px;text-align:right;"> <%= c.submit "Submit"%></div>
     <% end %>



      <div class="title">Previous comments</div>
         <table>
         <% @previous_comments.each do |com| %>
         <tr><td class="comment">&ldquo; &nbsp;  <%= com.comment %>&nbsp;&rdquo;</td><td class="date"><%=raw com.created_at.strftime("%B %d, <br />%I:%H %p") %></td></tr>
         <% end %>
         </table>
      </div>
 </div>
 </div>
<div class="others_you_may_like">
   <div class="items">
      Other Themes You May Like: 
   <% if @others then %>
      <% @others.each do |theme| %>
         <%=raw theme.to_html_small('') %>
      <% end %>
   <% end %>
   </div>
   </div>
</div>
