<div class="items">
   <p>About Me:</p> <%=image_tag "avatar03-small.jpg" %>
   <p>"...mmmm... Look at all them tasty themes."</p><br />
   <p>My name is David Heitzman and I am a software developer, guitar player, dog walker, roller blader, tennis player, and volunteer living in St. Paul, Minnesota. I build in PHP and Rails.</p><br /><p>If interested in hiring me for contract or conventional employment get in touch with me at: <em>dheitzman@aptifuge.com</em></p><br /><p>I built RubyMine Theme Generator because I was inspired by all the great syntax-highlighting themes for <%= link_to "Textmate","http://macromates.com/" %>, <%= link_to "Komodo Edit","http://www.activestate.com/komodo-edit" %>, <%=link_to "Geany","http://www.geany.org/" %> and other popular editors. </p><br /><p>This theme generator creates new themes on the fly using a random number generator. The site allows you to download, "like" and "dislike" themes, as well as leave comments about them. One nice outcome would be the aggregation of excellent themes toward the top of the popularity curve.</p><br /><em>I'll be continuing to develop this site, so check back for: </em><br /><ul><li>User-influenced themes: Tweak the generator, name your theme, watch it become the Next Big Thing.</li><li>Themes downloadable in multiple formats: Textmate would be the first priority, followed by Geany and Komodo.</li></ul>
<br />
   <p>The <%= link_to "Eclipse theme page","http://www.eclipsecolorthemes.org/" %> is a great site for anyone using Eclipse. </p>
</div>


    