<div id="nav_menu">
   <p><%=#" | "+(link_to "Login/Register" ,new_rmt_devise_user_session_path)
      %>
   <div class="button"><%= link_to " Newest ","/theme/typepage/New" %></div>
   <div class="button"><%= link_to " All ","/theme/typepage/All" %></div>
   <div class="button"><%= link_to " Popular ","/theme/typepage/Popular" %></div>
   <div class="button"><%= link_to " Most Comments ","/theme/typepage/Most+Commented+On" %></div>
   
   <div class="button"><%= link_to " Color ","/theme/typepage/Color+Backgrounds" %></div>
   <div class="button"><%= link_to " Dark ","/theme/typepage/Dark+Backgrounds" %></div>
   <div class="button"><%= link_to " Light ","/theme/typepage/Light+Backgrounds" %></div>

   </p>
</div>