<div id="nav_menu">
   <p><%=#" | "+(link_to "Login/Register" ,new_rmt_devise_user_session_path)
      %>
   <div class="button"><%= link_to " Newest ","/theme/typepage/Newest" %></div>
   <div class="button"><%= link_to " All ","/theme/typepage/All" %></div>
   <div class="button"><%= link_to " Popular ","/theme/typepage/Popular" %></div>
   <div class="button"><%= link_to " Most Comments ","/theme/typepage/Most+Commented+On" %></div>
   
   <div class="button"><%= link_to " Color ","/theme/typepage/Color+Background" %></div>
   <div class="button"><%= link_to " Dark ","/theme/typepage/Dark+Background" %></div>
   <div class="button"><%= link_to " Light ","/theme/typepage/Light+Background" %></div>
   <% form_for :rmt_theme, :target=>"/theme/search" do |e| %>
      <%= e.label "Search" %>
      <%= e.text_field :search_term %>
      <%= e.submit "Submit" %>
   <% end %>

   </p>
</div>