<div id="nav_menu">
   <p><%=#" | "+(link_to "Login/Register" ,new_rmt_devise_user_session_path)
      %>
   <%= link_to "New Themes","/theme/typepage/New" %>
   <%= link_to " | All Themes","/theme/typepage/All" %>
   <%= link_to " | Popular Themes","/theme/typepage/Popular" %>
   <%= link_to " | Most Commented On Themes","/theme/typepage/Most+Commented+On" %>
   <%= link_to " | Color Background Themes","/theme/typepage/Color+Background" %>
   <%= link_to " | Dark Background Themes","/theme/typepage/Dark+Background" %>
   <%= link_to " | Light Background Themes","/theme/typepage/Light+Background" %>
   <% form_for :rmt_theme, :target=>"/theme/search" do |e| %>
      <%= e.label "Search" %>
      <%= e.text_field :search_term %>
      <%= e.submit "Submit" %>
   <% end %>

   </p>
</div>