<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>rmthemegen.com</title>
  <%= stylesheet_link_tag "screen.css", :media=>"screen,presentation" %>
  <%= javascript_include_tag :all  %>
  <%= csrf_meta_tag %>

<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Hammersmith+One" />
</head>

<body>
<div id="outer_container">
  <div id="inner_container">
  <div id="banner">
  <div class="banner_inset">
    <%= #image_tag "/images/rm_banner03.png"
    %>
    <div class="banner_text">
      <%  session[:banner_text] ||= colorize_string("RubyMine::Theme < Generator","b4b4b4",0.24 )  %>
      <span><%=  link_to( (raw session[:banner_text] ), "/")  %></span>

    </div>
  </div>
  </div>

  <div id="header-block">
    <div id="header-wrapper">
       <div id="header-text">
          <%= render "layouts/site_blurb" %>
       </div>
    </div>
  </div>
  <div id="menu_top_wrapper">
   <%= render "layouts/menu" %>
  </div>
  <div id="content-block">
  <div class="content-container">
    <div class="content-text-left">
    <%= yield
    %>
      <br />
    </div>
     <% if !@theme1 then %>
         <div class="content-text-right">
         <%= render "layouts/explanation" %>
         </div>
    <% end %>
  </div>


  <div class="footer-block">
    <div id="footer-container">
        <div id="footer-text">
        All contents &copy; 2011 David Heitzman
        </div>
    </div >
  </div>
</div>
</div>
</body>
</html>
